@{
    ViewBag.Title = "About";
}
<style>
    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
</style>
<body class="home-about-page">

    <!--Top Image-->
    <div class="home-about-image-container">
        <img src="~/Content/images/theater.jpg" style="width:100%;" />

        <div class="home-about-text-overlay">
            <h1>ABOUT US</h1>
        </div>

    </div>

    <div class="home-about-top-area">
        <div class="home-about-text-title">
            <h1>WHO WE ARE</h1>

        </div>

        <div>
            <p>
                We seek to engage audiences through compeling, ensemble-driven productions with a focus on developing new works.
            </p>
        </div>
    </div>


    <div class="home-about-body-content">
        <div class="home-about-text-title">
            <h1>COMPANY HISTORY</h1>
        </div>

        <div>
            <p>
                In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.

                From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.

                Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.

                In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
            </p>
        </div>
        <!-- content for the middle section of the about page -->
    </div>

    <div class="home-about-bottom-area">
        <div class="home-about-text-title">
            <h1>ENSEMBLE</h1>
        </div>

        <div class="home-about-bottom-image">
            <img src="~/Content/images/Cast_Img.jpg" style="width:50%; height:50%;" />
        </div>

        <div>
            <p>
                Alexander Buckner, Vicroria Alvarez-Chacon, Heath Hyun Houghton
            </p>
        </div>

        <div class="home-about-text-title">
            <h1>BOARD</h1>

            <div class="home-about-board-section">
                <ul>
                    <li>Jamie Floyd (President)</li>
                    <li>Tom Mounsey</li>
                    <li>Marcia Reyes</li>
                    <li>Lena-Liis Kiesel</li>
                </ul>
            </div>
        </div>
        <!-- content for the bottom section of the about page -->
    </div>

    
</body>
                             