@{
    ViewBag.Title = "Home Page";
}
    <body class="home-index-page">
        <div class="home-index-banner">
            <div class="home-index-photo-container">
                <div class="home-index-banner-photo">
                    <img src="~/Content/images/TheatreLogo.png">
                </div>
            </div>
        </div>

        <div class="home-index-row">
            <div class="col-md-7" id="left-column">
                <h2>Spotlight</h2>
                <div class="photo-container">
                    <div class="spotlight-photo">
                        <img src="~/Content/images/DollsHouse.png" />
                        <img src="~/Content/images/Tempest.png" />
                    </div>
                </div>

            </div>

            <div class="col-5 col-md-4" id="right-column">
                <div id="donations">
                    <h2>Donations</h2>
                    <a class="donations-button" button-type="button" href="#donate">Click to Support</a>
                </div>

                <div class="sponsors">
                    <h2>Sponsors</h2>
                    <div class="photo-container">
                        <div class="sponsors-img">
                            <img src="~/Content/images/Sponsors/LogoRoundColor.png" />
                            <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                            <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                            <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
                            <img src="~/Content/images/Sponsors/RACC.png" />
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>

        <div class="home-index-row">
            <div class="acknowledgement">
                <h2>Land Acknowledgement</h2>
                <p>
                    Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, Wasco
                    Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes
                    of the Grande Ronde and other indigenous peoples.
                </p>
                <h3>We are on stolen land.</h3>
                <p>
                    Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and sponsors
                    support the our regions Indigenous Nations and communities.

                </p>
                <p>
                    One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is to
                    build bridges between our arts community and local nations.
                </p>
            </div>

            <div class="photo-container">
                <div class="naya-photo">
                    <a href="https://nayapdx.org/"><img src="~/Content/images/NAYAFamilyCenter.jpg" /></a>
                </div>
            </div>
        </div>

        

            @*<div class="col-md-4">
                <h2>web hosting</h2>
                <p>you can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301867">learn more &raquo;</a></p>
            </div>*@
       
    </body>
